*{
	text-decoration: none;
	list-style-type: none;
}

body{
	margin: 0;
	padding: 0;
	font-family: arial ;
	background-color: #f4f4f4;
}

h2{
	text-align: center;
	padding-top: 50px;

}
/*Bar Navigasi*/
nav{
	width: 100%;
	height: 90px;
	background-color: rgb(8, 208, 8);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

form i{
	background-color: white;
	padding: 5px;
	border: 1px solid black;
	border-right: none;
	box-sizing: border-box;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

span.on{
	font-family: 'anton', sans-serif;
	font-size: 1.9em;
	color: black;
}

span.mart{
	font-family: 'pacifico', cursive;
	font-size: 1.6em;
	color: white;
}

.logo{
	margin-left: 6%;
}

form{
	width: 55%;
	margin-right: 5%;
	display: flex;
}

.search{
	width: 100%;
	border: 1px solid black;
	border-left: none;
	border-radius: 0;
	outline: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
/*Akhir bar navigasi*/
/*NavBar Bottom*/
.container-setting{
	width: 100%;
	display: flex;
	height: 60px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	z-index: 999;
}

.container-setting ul{
	display: flex;
	margin: 0;
	justify-content: space-around;
	align-items: center;
	padding-right: 10px;
	width: 500px;
	height: 100%;
	background-color: #f9f9f9;
	box-shadow: 1px 1px 10px grey;
}

.container-setting ul li a{
	display: flex;
	justify-content: center;
  	align-items: center;
  	flex-direction: column;

}

.container-setting a{
	color: black;
}

.container-setting a:hover{
	color: rgb(8, 208, 8);
}

.container-setting span{
	padding-top: 5px;
	font-size: 1rem;
}

#active a{
	color: rgb(8, 208, 8);
}

/*Akhir NavBAr Bottom*/
/*Hero/Banner*/
.hero{
	width: 100%;
	background-color: whitesmoke;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}

.slider{
	width: 90%;
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
	background-color: seagreen;
  }
  
  .slides{
	width: 500%;
	height: 500px;
	display: flex;
  }
  
  .slides input{
	display: none;
  }
  
  .slide{
	width: 20%;
	transition: 2s;
  }
  
  .slide img{
	width: 100%;
	height: 300px;
	cursor: pointer;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
	position: absolute;
	width: 100%;
	margin-top: -235px;
	display: flex;
	justify-content: center;
	margin-left: -6%;
  }
  
  .manual-btn{
	border: 2px solid rgb(8, 208, 8);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
  }
  
  .manual-btn:not(:last-child){
	margin-right: 40px;
  }
  
  .manual-btn:hover{
	background: rgb(8, 208, 8);
  }
  
  #radio1:checked ~ .first{
	margin-left: 0;
  }
  
  #radio2:checked ~ .first{
	margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
	margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
	margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-left: -6%;
		margin-top: 265px;
  }
  
  .navigation-auto div{
	border: 2px solid rgb(8, 208, 8);
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
	margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
	background: rgb(8, 208, 8);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
	background: rgb(8, 208, 8);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
	background: rgb(8, 208, 8);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
	background: rgb(8, 208, 8);
  }


/* .hero p{
	background-image: url('asset/banner2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	width: 95%;
	height: 280px;
	margin: 2px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
	font-size: 2.5em;
	font-family: 'pacifico', cursive;
	color: black;
	text-shadow: 3px 3px 10px white; */
/* } */
/*Akhir Hero/Banner*/
/*Kategori*/
.jud-kat{
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
	background-color: rgb(8, 208, 8);
}

.list-kat{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: rgb(8, 208, 8);
	margin-top: -20px;
}

.kat-isi{
	width: 100px;
	cursor: pointer;
	margin: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.kat-isi span{
	margin: 2px;
	font-size: 1em;
}
/*Akhir Kategori*/
/*For You*/
h2{
	background-color: white;
	margin-top: 10px;
	padding: 0;
	padding-top: 10px;
}
.container-fy{
	width: 100%;
	margin:  -20px auto 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: white;
	padding-top: 15px;
}

.card{
	border-radius: 5px;
	background-color: white;
	overflow: hidden;
	width: 200px;
	height: 350px;
	margin: 5px;
	box-shadow: 1px 1px 6px rgb(40, 41, 40);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.heading-card{
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	background-color: #f4f4f4;
	padding-top: 5px;
	padding-bottom: 5px;

}

.heading-card img{
	max-height: 200px;
	max-width: 200px;
	margin: 5px auto;
}

.content-card{
	height: 100px;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 10px;
}

.content-card span.merk{
	font-size: 0.95em;
	max-height: 35px;
	overflow: hidden;
}

.content-card span.harga{
	font-size: 1.1em;
	margin-top: 5px;
}

.content-card span.jmlh{
	font-size: 0.8em;
	margin-top: 10px;
}

button{
	display: flex;
	margin: 9px auto;
	border: none;
	border-bottom: 1px solid black;
	cursor: pointer;
	background-color: white;
	border-radius: none;
}

button:hover{
	background-color: grey;
	border-radius: 3px;
}


/*akhir for you*/
/*Footer*/
footer{
	width: 100%;
	height: 120px;
	background-color: rgb(242, 242, 242);
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 10px;
}
/*akhir footer*/
/*Responsive*/
@media( min-width: 700px ){

	.logo{
	margin-left: 10%;

	}

	.hero .slider{
		width: 80%;
		height: 400px;
	}

	.slide img{
		width: 100%;
		height: 100%;
	}

	.navigation-auto{
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 370px;;
		margin-left: -10%;
	}
	
	.navigation-manual{
		position: absolute;
		width: 100%;
		margin-top: -130px;
		display: flex;
		justify-content: center;
		margin-left: -10%;
	  }
	  
	form{
		width: 40%;
		margin-right: 10%;
	}

	.container-fy{
		max-width: 100%;
	}

	.card{
		width: 200px;
		margin: 10px;
	}

	.container-setting ul{
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border: 1px solid black;
	}

}
